:root {
    --primary-bg: #FFF;
    --secondary-bg: #D9D9D9;
    --tertiary-bg: #2D2C2C;
    --header-footer-bg: #61787F;
    --text-color: #000;
    --text-white: #FFF;
    --accent-red: #FA0B0B;
    --accent-red-hover: #C00;
    --border-color: #000;
    --modal-overlay: rgb(0 0 0 / 70%);
}
