/* Oswald */
@font-face {
    font-family: 'Oswald, sans-serif';
    src: url('just_stream_it/assets/fonts/Oswald-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald, sans-serif';
    src: url('just_stream_it/assets/fonts/Oswald-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald, sans-serif';
    src: url('just_stream_it/assets/fonts/Oswald-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}
