:root {
    --spacing-3xl: 48px;
    --spacing-2xl: 40px;
    --spacing-xl: 32px;
    --spacing-lg: 24px;
    --spacing-md: 16px;
    --spacing-sm: 12px;
    --spacing-xs: 8px;
    --spacing-2xs: 4px;
    --spacing-3xs: 2px;
}

/* ************************ MARGINS ************************ */

.mt-3xl { margin-top: var(--spacing-3xl); }
.mb-3xl { margin-bottom: var(--spacing-3xl); }

.mb-xl { margin-bottom: var(--spacing-xl); }

/* ************************ PADDINGS ************************ */

