.card {
    display: flex;
    justify-content: space-evenly;
    border: 6px solid var(--border-color);
    padding: var(--spacing-lg) var(--spacing-md);
}

.card h3,
.card p {
    margin-left: var(--spacing-3xl);
    margin-bottom: var(--spacing-3xl);
}

.card img {
    object-fit: contain;
    height: 334px;
    min-width: 227px;
    margin: auto 0;
}

.card button {
        display: block;
        width: 166px;
        height: 68px;
        float: right;
}

/* --tablet-breakpoint: 768 (see scaling.css) */
@media screen and (width <= 768px) {
    .card button {
        font-size: var(--font-size-2xs-tablet);
        width: 123px;
        height: 49px;
        margin: var(--spacing-md) auto 0 auto;
    }

}

/* --mobile-breakpoint: 576px (see scaling.css) */
@media screen and (width <= 576px) {
    .card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: var(--spacing-sm);
    }

    .card div {
        /* display flex make float property of buton unusable */
        display: flex;
        flex-direction: column;
    }

    .card h3,
    .card p {
        margin: 0;
    }

    .card img {
        min-width: 0;
        width: 100%;
        height: 241px;
        object-fit: cover;
    }

    .card button {
            font-size: var(--font-size-2xs-mobile);
            width: 91px;
            height: 40px;
    }
}
