.card {
    display: flex;
    justify-content: space-evenly;
    border: 6px solid var(--border-color);
    padding: var(--spacing-lg) var(--spacing-md);
}

.card h3,
.card p {
    margin-left: var(--spacing-3xl);
    margin-bottom: var(--spacing-3xl);
}

.card img {
    object-fit: contain;
    height: 334px;
    min-width: 227px;
    margin: auto 0;

    /* prepare fall back to display somathing if fetch image failed in API */
    background-color: var(--header-footer-bg);
    color: var(--text-white);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-extra-light);
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    word-spacing: var(--spacing-xs);
}

.card button {
        float: right;
}

/* --tablet-breakpoint: 768 (see scaling.css) */
@media screen and (width <= 768px) {
    .card button {
        margin: var(--spacing-md) auto 0 auto;
    }

}

/* --mobile-breakpoint: 576px (see scaling.css) */
@media screen and (width <= 576px) {
    .card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: var(--spacing-sm);
    }

    .card div {
        /* display flex make float property of buton unusable */
        display: flex;
        flex-direction: column;
    }

    .card h3,
    .card p {
        margin: 0;
    }

    .card img {
        min-width: 0;
        width: 100%;
        height: 241px;
        object-fit: cover;
    }
}
