.category-selector {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.category-selector label {
    display: none;
}

.category-selector select {
    margin: 0 var(--spacing-lg);
    padding: var(--spacing-sm);
    background-color: var(--primary-bg);
    border: 2px solid var(--border-color);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-semi-bold);
}

.category-selector option {
    border: 1px solid var(--border-color);
}
