name: Lint

on:
  pull_request:
    branches: [main]

jobs:
  lint:
    name: Run linters
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Lint HTML
        run: pnpm lint:html

      - name: Lint CSS
        run: pnpm lint:css

      - name: Lint JS
        run: pnpm lint:js
